<h1>Login</h1>
<%= form_with mode:@user do |t|%>
<%= t.label :email , 'Email' %>
<%= t.text_field :email , placeholder:'Email here' %>
<%= t.label :password, 'Password' %>
<%= t.password_field :password , placeholder:'Password' %>
<%= t.submit 'Login' %>
<% end %>
