<div class='col-lg-12 container'>
  <% if flash[:login_error] %>
  <div class='alert alert-danger' >
    <p><%= flash[:login_error]%></p>
  </div>
  <% end %>
<%= form_with mode:@user , id:'login',class: 'form' do |t|%>

<div class= 'col-lg-6 col-md-offset-3'>
<div class= ''>

  <h1>Login</h1>

<div class='form-group '>
<%= t.label :email , 'Email' %>
<br>
<%= t.text_field :email , placeholder:'Email here',class:'form-control' %>
</div>

<div class='form-group'>
<%= t.label :password, 'Password' %>
<br>
<%= t.password_field :password , placeholder:'Password',class:'form-control' %>
</div>

<%= t.hidden_field :lat %>
<%= t.hidden_field :lng %>
<br>
<%= t.submit 'Login' ,class:'form-control btn btn-primary' %>
<% end %>
</div>

</div
</div>
