<h1>Users#new</h1>
<div class='container'>
<% if(flash[:user_error]) %>
<%  flash[:user_error].each do |e|  %>
<div class='bg-info'><p class='text-danger'><%= e  %></p></div>
<% end %>
<% end %>
<%= form_with model:@user , id:'signup' ,class:'form col-lg-12' do |f|%>
  <div class='form-group'>
    <%= f.label :first_name %>
    <br>
    <%= f.text_field :first_name, placeholder: "First Name", class:'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :last_name %>
    <br>
    <%= f.text_field :last_name, placeholder: "Last Name" , class:'form-control' %>
  </div>

  <div>
    <%= f.label :email %>
    <br>
    <%= f.text_field :email, placeholder: "Email" %>
  </div>

  <div>
    <%= f.label :password %>
    <br>
    <%= f.password_field :password, placeholder: "Password" %>
  </div>
<%= f.hidden_field :lat%>
<%= f.hidden_field :lng%>



  <%= f.submit "Sign Up"  %>

<% end %>

<p>Find me in app/views/users/new.html.erb</p>
</div>
